* {
  /* border: 1px solid blue; */
}
.hidden {
  opacity: 0;
  transition: all 0.3s;
}
body {
  height: 100vh;
  padding: 2vh 2vw;
  text-align: center;
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #1d2d50;
  color: #fcdab7;
}
#main-container,
#content-container {
  position: relative;
}

footer,
.buttons-main-container,
.buttons-container,
#main-container,
#content-container {
  max-height: 100%;
  position: relative;
}
.buttons-container,
.buttons-main-container > h3 {
  /* width: ; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2vh 2vw;
}
.buttons-container.country {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#footer {
  text-align: left;
}
.btn {
  /* width: 130px; */
  padding: 1vh 2vw;
  border-radius: 10px;
  background-color: #fcdab7;
  border: none;
  font-weight: 700;
}
.dataArea-container,
.chart-container {
  position: relative;
  margin: auto;
  max-height: 80vh;
  max-width: 80vw;
  background-color: #ffffff;
  padding: 1vh 1vw;
  border-radius: 20px;
}
.countryData-container,
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  padding-top: 2vh;
}
.countryData {
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: white;
  text-align: left;
  transition: all 0.3s;
  color: #1d2d50;
}
.countryData h3 {
  padding: 2vh 2vw;
  border-top: 1px solid #1e5f746b;
}
.countryData h2 {
  padding: 2vh 2vw;
}
.spinner {
  border-radius: 20px;
  animation: virus 3s ease infinite alternate;
  height: 80%;
}

@keyframes virus {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

/* media queries */

/* make smaller font for smaller screens */
